<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <%= link_to "GitHub Login", '/auth/github' %>

  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <% if !current_user.token.nil? %>
    <section class='github'>
      <section class='repos'>
      <h2>Repos:</h2>
        <ul>
          <% current_user.my_repos.each do |repo| %>
            <li id="repo-<%= repo.id %>">
              <%= link_to repo.name, repo.url %>
            </li>
          <% end %>
        </ul>
      </section>

      <section class='followers'>
        <h2>Followers:</h2>
        <% if current_user.my_followers.empty? %>
          <p>User has no followers.</p>
        <% else %>
          <ul>
            <% current_user.my_followers.each do |follower| %>
              <li id="follower-<%= follower.id %>">
                <%= link_to follower.name, follower.url %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </section>

      <section class='following'>
        <h2>Following:</h2>
        <% if current_user.following.empty? %>
          <p>User is not following anyone.</p>
        <% else %>
          <ul>
            <% current_user.following.each do |follower| %>
              <li id="follower-<%= follower.id %>">
                <%= link_to follower.name, follower.url %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </section>

    </section>
  <% end %>
</section>
